*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;   
}
.swiper
{
    height: 90%;
    width: 70%;
    border: 15px solid white;
    margin-top: 30px;
    background-attachment: fixed;
}
.swiper p{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 15%;
    color:white;
    font-size: 35px;
    font-weight: bold;

}
.layer
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.sub_language
{
    position: absolute;
    background-color: white;
    list-style: none;
    width: fit-content;
    left: 20px;
    top:60px;
    z-index: 2;
    display: none;
}
.sub_language::after
{
    position: absolute;
    top: -6px;
    right: 4px;
    z-index: -1;
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
}
.sub_language li{
    padding: 5px 10px;
}
.sub_language li a
{
    font-size:20px ;
    color:black;
    text-decoration: none;
}
 li:hover .sub_language{
    display: block;
    z-index:2;
}
.icon-menu
{
position: absolute;
top: 20px;
right: 0;
display: flex;
list-style: none;

}
.icon-menu>li{
    margin: 10px 20px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}
.icon-menu>li ion-icon{
 color:black;
}
.icon-menu>li:hover{
    background-color: #9BD031;
}

.slider
{
    height: 680px; 
    background-image: url('https://bizweb.dktcdn.net/100/263/497/themes/880456/assets/background_slider.jpg?1665397167069');
    display: flex;
   justify-items: center;
   background-attachment: fixed;
   
}
.swiper-slide
{
    position:relative;
}
.nav-item
{
    height: 150px;
    background-image: url('https://i.pinimg.com/564x/3b/cc/d3/3bccd36796e341d25d93abd2c4c60439.jpg');
}
.tren>img{
    margin-top: 30px;
    margin-left: 30px;
}
.duoi
{
    margin-bottom: 0;
    display: flex;
    margin-left: 15%;
    list-style: none;
    margin-bottom: -30px;
}
.subnav>li>a
{
 text-decoration: none;
 color: black;
}
.subnav
{
    position: absolute;
    background-color: white;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    list-style: none;
    display: none;
}
.duoi>li:hover
{
    padding-top: 5px;
}
.duoi>li:hover .subnav
{
    display: block;
}
.duoi>li{
    background-color: #9BD031;
    margin: 0 10px;
    padding: 10px 20px;
}

.duoi>li>a{
text-decoration: none;
color:white;
font-weight: bold;
}
/* luoi */
.menu-item
{
    width: 210px;
    height: 300px;
    float: left;
    position: relative;
    margin-left: 25px;
    background-color: white;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid white;
   
}
.pagination
{
    margin-left: 50%;
    transform: translateX(-15%);
}
.menu-item .item_text
{
    padding:10px;
    font-size: 14px;
}
.menu-item .item_gia
{
    position: absolute;
    bottom: 35px;
    left:5px;
    color: #e2694a;
}
.menu-item>.after
{
    color:white;
    padding:5px 10px;
    align-items: center;
    width: 50px;
    font-size: 12px;
    height: 25px;
    top: 10px;
    left: -5px;
    border-radius: 4px;
    position: absolute;
    background-color: #F53D2D;

}
.menu-item .item_daban
{
    font-size: 14px;
    position: absolute;
    bottom: 35px;
    right: 5px;
}
.menu{
    width: 1200px;
    height: 615px;
    margin-left: 190px;
    margin-top: 20px;
}
.item_text a
{
    text-decoration: none;
    color:black;
}
.menu-item .layer2
{
    width: 100%;
    height: 63%;
    background-color: rgba(204, 193, 193, 0.175);
    position: absolute;
    top:0;
    left: 0;
    color:white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.menu-item:hover>.after
{
 display: none;
}
.menu-item:hover .layer2{
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
}

.layer2 ion-icon:hover
{
    color: #F53D2D;
}
@keyframes traiqua
{
    0%
    {
        margin-bottom: -20px;
    }
    25%
    {
        margin-top: -15px;
    }
    50%{margin-bottom: -10px;}
    75%{margin-bottom: -5px;}
    100%{margin-bottom: 0px;}
    
}
h2{
   font-family: 'Gotham_bold', cursive;
}
.tieude
{
    text-align: center;
    margin-top: 20px;

}
.banner
{
    display: flex;
    margin-left: 150px;
}
.banner>img{
    margin: 0 20px;
}
.danhmuc>li
{
    
    display: inline;
    
}
.danhmuc>li>a
{
    text-decoration: none;
    font-family: 'Gotham_bold', cursive;
    font-size: 14px;
    color: rgb(37, 31, 31);
}
.danhmuc>li:hover>a
{
    color: #9BD031;
}
.icon
{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #9BD031;
    position: absolute;
    bottom: 10px;
    right: 70px;
    
}
.icon:nth-child(2)
{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #9BD031;
    position: absolute;
    bottom: 10px;
    right: 20px;
    
}
.icon ion-icon
{
    text-align: center;
    padding: 5px;
}
.giamgia
{
    height: 615px;
    width: 1200px;
    margin-left: 190px;
    margin-top: 20px;
}
.sanpham
{
	 display: flex;
    flex-direction: column;
}
.menu-item:hover .icon
{
    animation: traiqua;
    animation-duration: 0.3s;
}