*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;   
}
.link
{
    list-style: none;
    display: flex;  
    padding: 30px 0px;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: 1px solid #333; 
}
.link>li
{
    padding: 5px 5px;
}
.link>li>a
{
    text-decoration: none;
    color: black;
}
.layer
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.sub_language
{
    position: absolute;
    background-color: white;
    list-style: none;
    width: fit-content;
    left: 20px;
    top:60px;
    z-index: 2;
    display: none;
}
.sub_language::after
{
    position: absolute;
    top: -6px;
    right: 4px;
    z-index: -1;
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
}
.sub_language li{
    padding: 5px 10px;
}
.sub_language li a
{
    font-size:20px ;
    color:black;
    text-decoration: none;
}
 li:hover .sub_language{
    display: block;
    z-index:2;
}
.icon-menu
{
position: absolute;
top: 20px;
right: 0;
display: flex;
list-style: none;

}
.icon-menu>li{
    margin: 10px 20px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}
.icon-menu>li ion-icon{
 color:black;
}
.icon-menu>li:hover{
    background-color: #9BD031;
}

.slider
{
    height: 680px; 
    background-image: url('https://bizweb.dktcdn.net/100/263/497/themes/880456/assets/background_slider.jpg?1665397167069');
    display: flex;
   justify-items: center;
   background-attachment: fixed;
   
}
.swiper-slide
{
    position:relative;
}
.nav-item
{
    height: 150px;
    background-image: url(header.webp);
}
.tren>img{
    margin-top: 30px;
    margin-left: 30px;
}
.duoi
{
    margin-bottom: 0;
    display: flex;
    margin-left: 15%;
    list-style: none;
    margin-bottom: -30px;
}
.subnav>li>a
{
 text-decoration: none;
 color: black;
}
.subnav
{
    position: absolute;
    background-color: white;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    list-style: none;
    display: none;
}
.duoi>li:hover
{
    padding-top: 5px;
}
.duoi>li:hover .subnav
{
    display: block;
}
.duoi>li{
    background-color: #9BD031;
    margin: 0 10px;
    padding: 10px 20px;
}

.duoi>li>a{
text-decoration: none;
color:white;
font-weight: bold;
}